/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode 
.env
public/mix-manifest.json
