.QuillAnswer{
    
}
.inner-wrapper{
    width:50vw;
}
.AnswerQuestionTitle{
    font-weight:bold;
    font-size:2rem;
    color:black;
    align-self:left;
    text-align:left;
    margin:1rem;
}
.AnswerQuestionText{
    font-size:1rem;
    color:black;
    align-self:left;
    text-align:left;
    margin-left:2rem;
}
.AnswerQuestionAuthor{
    width:50vw;
    display:flex;
}
.BlockBetween{
    width:50vw;
    font-weight:bold;
    font-size:2.5rem;
    color:black;
    align-self:left;
    text-align:left;
    padding:1rem;
    border-top: 3px solid #00d084;
    border-bottom: 3px solid #00d084;
}
.AnswerNo{
    font-weight:bold;
    font-size:2rem;
    color:black;
    align-self:left;
    text-align:left;
    margin:1rem;
}
.AnswerText{
    font-size:1rem;
    color:black;
    align-self:left;
    text-align:left;
    margin-left:2rem;
}
.AnswerPostAnswer{
    font-weight:bold;
    font-size:2rem;
    color:black;
    align-self:left;
    text-align:left;
    margin:1rem;
}
.AnswerVotingBlock {
    width: 8rem;
}
.QuestionVotingBlock{       
    width: 8rem;
}