
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 100;
    height: 100vh;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: left;
    display: flex;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding-top: 40px;
    text-align: left;
}

.title {
    font-size: 48px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 10px;
}

.ant-list-item {
    text-align: left;
    padding: 20px;
    border: 1px solid;
}

.QRow {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border-bottom: 2px solid #69c0ff;
    padding: 10px;
}

.QAuthor {
    text-align: right;
    display: flex;
    width:70vw;
    justify-content: flex-end;
    align-items: flex-end;
}
.QTitle{
    width: 10vw;
    font-size: 20px;
    
}

.fa-check-circle{
    width:100%;
    height:100%;
   
}
.svg-inline--fa{
    width: 2rem !important;
}

.fa-check-circle :hover{
    fill: green;
    cursor: pointer;
}

.fa-times-circle :hover{
    fill: red;
    cursor: pointer;
}


.AnswerAccept {
    margin-top: 300px;
    text-align: center;
  }
.AnswerAccept-best {
    width:30px;
    height:30px;
    line-height: 1;
}
.AnswerAccept-h1{
    margin-top: 2px;
    height: 26px;
    font-size: 20px;
    color: #35b558;
    font-Family:Microsoft YaHei;
    font-Weight:bolder;
    margin-right: 500px;
}
.AnswerAccept-accept {
    font-size: 14px;
    color: #33b358;
    border: 1px solid #cfd7dc;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: inline-block;
    font-Family:Microsoft YaHei;
    font-Weight:bolder;
    margin-left: 10px;
    margin-top:250px;
}
.AnswerAccept-reject {
    font-size: 14px;
    color: #33b358;
    border: 1px solid #cfd7dc;
    width: 120px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    display: inline-block;
    font-Family:Microsoft YaHei;
    font-Weight:bolder;
    margin-left: 450px;
    margin-top:250px;
}
.AnswerAccept.answer-best {
    width: 21px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    color: #4ACA5D;
    font-size: 80px;
    margin:200px;
}
