
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: left;
    display: flex;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    padding-top: 40px;
    text-align: left;
}

.title {
    font-size: 48px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 10px;
}

.ant-list-item {
    text-align: left;
    padding: 20px;
    border: 1px solid;
}

.QRow {
    display: flex;
    flex-direction: row;
    width: 80vw;
    border-bottom: 2px solid #69c0ff;
    padding: 10px;
}

.QAuthor {
    text-align: right;
    display: flex;
    width:70vw;
    justify-content: flex-end;
    align-items: flex-end;
}
.QTitle{
    width: 10vw;
}